<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <param name="model" value="$(arg model)"/>

  <!-- turtlebot3_teleop_key already has its own built in velocity smoother -->
  <node pkg="da_pkg" type="DA_agent_move.py" name="DA_agent_teleop_keyboard"  output="screen">
  </node>
  <node pkg="da_pkg" type="DA_agent.py" name="DA_agent_core"  output="screen">
  </node>
</launch>
